create table Joueurs( NUM_Joueur int, NOM text,  primary key(NUM_Joueur,NOM));
create table Cases( NUM_cases int, positionX int, positionY int, typeDeCases text,Couleur text, primary key(NUM_cases));
create table Pion (NUM_pion int,couleur text,NUM_Joueur int, NUM_cases int,avancement,primary key (NUM_pion),foreign key (NUM_joueur) references Joueurs, foreign key(NUM_cases)references Cases);
create table Score (NBRPartieTotal int,NBRPartieGagner int,NUM_Joueur int,primary key(NUM_Joueur),foreign key(NUM_joueur) references Joueurs);
create table Lien (NUM_cases int,NUM_question int,NUM_Difficulter int,primary key(NUM_cases,NUM_question),foreign key(NUM_cases)references Cases,foreign key(NUM_question)references Question);
create table Question(NUM_question int,question text,typedequestion text,reponse1 text,reponse2 text,reponse3 text, reponse4 text,numReponseCase int,primary key(NUM_question));
create table Partie (numeroJoueurTour int,camenbertJoueur1 text,camenbertJoueur2 text,camenbertJoueur3 text,camenbertJoueur4 text,casesMobile1 int,casesMobile2 int,casesMobile3 int,casesMobile4 int,NUM_Difficulter int);
create table sauvegarde(NUM_sauvegarde int,numeroJoueurTour int,NUM_CASEJOUEUR1 int, NUM_CASEJOUEUR2 int,NUM_CASEJOUEUR3 int,NUM_CASEJOUEUR4 int,camenbertJoueur1 text,camenbertJoueur2 text,camenbertJoueur3 text,camenbertJoueur4 text,casesMobile1 int,casesMobile2 int,casesMobile3 int,casesMobile4 int,NUM_Difficulter int,primary key(NUM_sauvegarde));  
create table Joueursauvegarde (NUM_Joueur int,NUM_sauvegarde int,NUM_pion int, primary key(NUM_Joueur, NUM_sauvegarde),foreign key (NUM_joueur) references Joueurs, foreign key (NUM_sauvegarde) references sauvegarde);